@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.menu>li>a.active{
    color:#717FF8
}
body{
 font-family: "Poppins", sans-serif;   
 scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: "League Spartan", sans-serif;
}
.user-profile-image-custom-class{
    width: 44px;
    height: 44px;
}

/* slick custom css */
button.slick-arrow.slick-prev:before, .slick-next:before{
    display: none;
}
button.slick-arrow.slick-next:before, .slick-next:before{
    display: none;
}

/* Team card hover effect */

.team-card-special-class:hover >figure>div>button{
    transform: translateY(-2px);
}

.team-card-special-class:hover >figure>p.trainer-overlay-class{
    height: 100%;
    transition: .7s;
}

input{
    border: 1px solid #80808042;
}
input:focus{
    border: 1px solid #0000ff42;
}
